
<form class="content-wrapper" action="/shortened_urls" method="post">
	<div class="form-contents">
		<label class="input input-text" for="url_input">Enter or paste URL:</label>
		<input class="input-area" type="text" name="shortened_url[long_url]" id="url_input">
		<button class="submit" type="submit" id="submit-button">Generate short URL!</button>
	</div>
</form>
