<div class="output-wrapper">
	<div class="output-text">
	Original URL: <%=@shortened_url.long_url%><br>
	Shortened URL: <a href="<%=@shortened_url.long_url%>"><%=@shortened_url.short_url%></a><br>

	<%= link_to "Create another shortened URL", root_path %>
	</div>
</div>